.profile{
  padding: 20px 0;
  .image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    img{
      width: inherit;
      height: inherit;
      object-fit: contain;
    }
  }

  .user_detail{
    font-size: x-large;
    letter-spacing: 1px;
  }
}
